.header{
    background: linear-gradient(#4e0455, rgb(167, 9, 146));
    height: 70px;
    position:fixed;
    width:100%;
    z-index:100;
}

.header .menu ul {
    display:flex;
    align-items: center;
    height:70px;
    justify-content:space-around;
    list-style:none;
    padding:0;
}

.header .menu ul li{
    color:white;
    font-size:24px;
}

.header .menu ul li img{
    border-radius:40px;
    width:45px;
}

.menu ul a{
    color: white;
    font-size:24px;
    text-decoration: none;
}